:root {
  --platinum: #e8ebe4;
  --gray: #bec1bb;
  --blue-bell: #b0a0d8;
  --soap: #cdc3e6;
  --pale-lavender: #d4dcff;
  --dark-jungle: #1b1f21;
  --outer-space: #444749;
  --old-silver: #828485;
  --bg-white: #f8f8f8;

}
